[submodule "public"]
    path = public
    url=https://github.com/jacknesstjh.github.io/public.git
[submodule "themes/dream"]
    path = themes
	url = https://github.com/jacknesstjh.github.io/dream.git
